.Burger {
  width: 100%;
  margin: auto;
  overflow-y: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}
@media (min-width: 500px) and (min-height: 401px) {
  .Burger {
    width: 360px;
    height: 290px;
  }
}
@media (min-width: 1000px) and (min-height: 700px) {
  .Burger {
    width: 700px;
    height: 600px;
  }
}